<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">LOGO</a>
    </div>
    <ul class="nav navbar-nav">
      <li routerLinkActive="active" ><a routerLink='/home'>Home</a></li>
      <li routerLinkActive="active"><a routerLink='/aproved'>Approved</a></li>
      <li routerLinkActive="active"><a routerLink='/Pending'>Pending</a></li>
      <li routerLinkActive="active"><a routerLink='/Rejected'>Rejected</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      
      <li><a routerLink='/login'><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
  </div>
</nav>
